@mixin card() {
  border: 1px solid $card-border-color;
  border-radius: $card-border-radius;
  background-color: $card-bg;
  margin-bottom: 15px;
  display: block;
}

@mixin card-header() {
  padding: 27px 23px;
  border-radius: 4px 4px 0 0;
  position: relative;
  border-bottom: 1px solid $card-border-color;
  overflow: hidden;
  background-color: $card-header-bg;

  &::before {
    content:"";
    display: block;
    position: absolute;
    width: 6px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $color-primary;
    border-radius: 3px 0 0 0 ;
  }
}

@mixin font-accent($font-size: 13px) {
  font-size: $font-size;
  text-transform: uppercase;
  font-family: $font-family-accent;
  font-weight: 700;
  letter-spacing: -0.02em;
}

@mixin icon-simple-line($font-size: 14px) {
  font-size: $font-size;
  line-height: 1em;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-family: 'simple-line-icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin heading-decor($color-1, $color-2, $color-3) {
  background-image: linear-gradient(to right, $color-1 4px, transparent 4px), linear-gradient(to right, $color-1 4px, transparent 4px), linear-gradient(to right, $color-1 4px, transparent 4px), linear-gradient(to right, $color-1 4px, transparent 4px), linear-gradient(to right, $color-1 4px, transparent 4px), linear-gradient(to right, $color-1 4px, transparent 4px), linear-gradient(to right, $color-2 4px, transparent 4px), linear-gradient(to right, $color-3 4px, transparent 4px);
  background-repeat: repeat-x;
  background-size: 36px 12px, 36px 15px, 36px 17px, 36px 20px, 36px 18px, 36px 15px, 72px 15px, 108px 18px;
  background-position: 0 100%, 6px 100%, 12px 100%, 18px 100%, 24px 100%, 30px 100%, 6px 100%, 24px 100%;
}
