/* Account Navigation */

  .df-account-navigation__link {

    > a {
      padding: $card-vertical-padding $card-horizontal-padding;
      font-family: $font-family-accent;
      color: $headings-color;

      &:hover {

        @if $template == football {
          background-color: $color-dark-lighten;
        } @else {
          background-color: #fafafb;
        }

      }

      > small {
        color: $body-font-color;
      }

      > span {

        @if $template == football {
          color: $color-4;
        } @else {
          color: $color-primary;
        }
      }
    }

    & + li {
      border-top: 1px solid $card-border-color;
    }
  }

  .df-account-navigation__link--active,
  .df-account-navigation .is-active {

    > a {
      border-left: 6px solid $color-primary;

      @if $template == football {
        background-color: $color-dark-lighten;
      } @else {
        background-color: #fafafb;
      }
    }
  }
