/* Checkout Review Order */
.woocommerce-checkout-review-order {

}
  .woocommerce-checkout-review-order-table,
  .woocommerce-table--order-details {

    tbody {

      .product-name {
        color: $headings-color;
      }
    }


    // Table Footer
    tfoot {

      tr {

        th {
          color: $headings-color;
        }



        th,
        td {

          @if $template == football {
            border-bottom: 1px solid $card-border-color;

          } @else {

          }
        }

        &.order-total {

          th,
          td {
            border-top: 1px solid $card-border-color;
            border-bottom: 1px solid $card-border-color;
          }

          .amount {

            @if $template == football {
              color: $color-4;
            } @else {
              color: $headings-color;
            }
          }
        }
      }
    }

    // add top border for tfoot th, td if tbody exists
    tbody + tfoot {

      tr {

        &:first-child {

          th,
          td {
            border-top: 1px solid $table-border-color;
          }
        }
      }
    }

    .cart-subtotal {

      @if $template == football {
        color: $headings-color;
      }
    }
  }
