/* Filter Color */
.filter-color {
  list-style: none;
  padding: 0;
  margin: 0 0 -12px 0;
  overflow: hidden;
}
  .filter-color__item {
    display: inline-block;
    width: 28px;
    height: 28px;
    overflow: hidden;
    margin: 0 3px 12px 3px;

    [class*="indicator"] {
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-color: $card-border-color;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 4px;
      top: 4px;
      margin-top: 0;

      &:hover {
        cursor: pointer;
      }

      &::before {
        content:"";
        display: block;
        position: absolute;
        left: -5px;
        top: -5px;
        right: -5px;
        bottom: -5px;
        border: 2px solid transparent;
        border-radius: 50%;
        transition: all 0.2s ease;
        transform: scale(0.8);
      }
    }

    input[type="checkbox"],
    input[type="radio"] {

      &:checked + [class*="indicator"] {
        background-color: $card-border-color;
        border-color: $card-border-color;
        background-image: none !important;

        &::before {
          border-color: $card-border-color;
          transform: scale(1);
        }
      }

    }

    &.checkbox-inline {
      padding-left: 24px;
    }

    // Disabled
    input:disabled + [class*="indicator"] {
      background-color: $input-bg-disabled;
      border-color: #d8dce5;
    }
  }
