/* Filter Color */
  .filter-color__item {

    [class*="indicator"] {
      border-color: $card-border-color;
    }

    input[type="checkbox"],
    input[type="radio"] {

      &:checked + [class*="indicator"] {
        background-color: $card-border-color;
        border-color: $card-border-color;

        &::before {
          border-color: $card-border-color;
        }
      }

      // Color White
      &.color-white {

        + [class*="indicator"] {
          background-color: #fff;
          border-color: $card-border-color;
        }

        &:checked + [class*="indicator"] {
          background-color: #fff;
          border-color: #fff;

          &::before {
            border-color: #fff;
          }
        }
      }
    }

    // Disabled
    input:disabled + [class*="indicator"] {
      background-color: $input-bg-disabled;
      border-color: #d8dce5;
    }
  }
