/* Shop Banner */
.shop-banner {
  border: 1px solid $card-border-color;
  background-image: linear-gradient(to left top, #140078, #4dcbff);
  border-radius: $card-border-radius;
}
  .shop-banner__content {
    color: #fff;
  }
    .shop-banner__txt1 {
      font-family: $font-family-accent;
      color: #fff;
    }
    .shop-banner__title {
      color: #fff;
      border: 3px solid #fff;
    }
    .shop-banner__subtitle {
      font-family: $font-family-accent;
      color: #fff;

      &::before,
      &::after {
        color: $color-primary;
      }
    }
  .shop-banner__bg-txt {
    font-family: $font-family-accent;
    color: #fff;
  }
  .shop-banner__discount {
    color: #fff;
    font-family: $font-family-accent;

    &::before {
      border-top: 166px solid #4dcbff;
    }
  }
