/* Products */

      // Category
      .product__category {
        font-family: $font-family-accent;
      }

      // Title
      .product__title {

        > a {
          color: $headings-color;

          &:hover {
            color: $color-primary-darken;
          }
        }
      }

        .added_to_cart {
          @include button-variant($btn-default-color, $btn-default-bg, $btn-default-hover, $btn-default-border);
        }

      // Background Letters
      .product__bg-letters {
        font-family: $font-family-accent;
      }


/* Product Slider */
.product__slider {

  .slick-dots {

    li {

      button {
        @if $template == soccer {
          background-color: $color-2;
        } @else {
          background-color: #fff;
        }

        &:hover {

          @if $template == soccer {
            background-color: $color-2;
          } @else {
            background-color: #fff;
          }
        }
      }

      &.slick-active button {
        @if $template == soccer {
          background-color: $color-2;
        } @else {
          background-color: #fff;
        }
      }
    }
  }
}

/* Product Slider - Thumbs */
.product__slide-thumb-holder {
  border: 1px solid $card-border-color;
}


/* Products List */
.products.list {

    .product__category {

      > a {
        color: $body-font-color;

        &:hover {
          color: $link-color-hover;
        }
      }
    }

  .product__price {
    font-family: $font-family-accent;
    color: $headings-color;
  }

  .product__img {
    background-image: $product-color-1; // default color
  }
}

/* Product List - Small */
.list.products--list-sm {

    .product__excerpt {

      @if $template == football {
        color: $color-gray-3;
      }
    }
}

/* Products List - Condensed */
@if $template == soccer {
  // .list.products--list-condensed {
  .products.list {

    .product__item {
      margin-bottom: -1px;
      border-radius: 0;
    }
  }
}


/* Products Grid */
.products.grid {

  .product__item {
    // default color
    background-image: $product-color-1;
  }

    .product__img {
      padding-top: $card-vertical-padding;
    }
      .product__category {
        color: #fff;

        > a {
          color: #fff;
        }
      }
      .product__title {
        color: #fff;

        > a {
          color: #fff;
        }
      }
      .product__ratings {

        .star-rating::before {
          color: #fff;
        }
      }

      .product__price {
        font-family: $font-family-accent;
        color: #fff;
      }

    .product__footer {

      .products--grid-overlay & {
        background-color: $card-bg;
      }

      .product__view {
        border-color: $btn-o-inverse-border;
        color: $btn-o-inverse-color;

        &:hover {
          background-color: $btn-o-inverse-bg-hover;
          border-color: $btn-o-inverse-border-hover;
          color: $btn-o-inverse-color-hover;

          i {
            color: $btn-o-inverse-color-hover;
          }

          &.btn-circle {
            background-color: $btn-o-inverse-border-hover;
          }
        }
      }
    }
}


/* Products - Grid (Football) */
.products--grid-overlay {

  .product__item {

    .product__content {
      background-color: $card-bg;

      .product__category {
        color: $body-font-color;
      }
    }

    .product__footer {
      background-color: $card-bg;
    }

    // Used in Wishlist
    .product__btn-add-remove {

      &:hover {
        background-color: $color-primary;
      }
    }
  }
}


/* Products Grid - Light */
@if $template == soccer {
  // .products--grid-light {
  .products.grid {

    .product__header {

    }
      .product__category {
        &,
        & > a {
          color: $body-font-color;
        }
      }
      .product__title {
        color: $headings-color;

        > a {
          color: $color-2;

          &:hover {
            color: $color-primary;
          }
        }
      }
      .product__ratings {

        .star-rating::before {
          color: #dce0e7;
          opacity: 1;
        }
      }

      .product__price {
        font-family: $font-family-accent;
        color: $headings-color;
      }
  }
}
