/* Breadcrumbs
/* ------------------------- */

.breadcrumbs {

  ul.trail-items {

    > li {

      &::after {
        color: $breadcrumb-divider-color;
      }

      > a {

        &:hover {
          color: $breadcrumb-link-hover-color;
        }
      }
    }

    li.trail-end {
      color: $breadcrumb-link-active-color;
    }
  }
}

// Breadcrumbs inside Page Header
.page-heading {

  ul.trail-items {
    font-family: $font-family-accent;

    > li {

      &::after {
        color: $body-font-color;
      }

      > a {

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
