/* Buttons */

// Alternate buttons
// --------------------------------------------------

.btn-default,
.button {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-hover, $btn-default-border);
}

@if $template == football {
  .btn-default-alt {
    @include button-variant($btn-default-alt-color, $btn-default-alt-bg, $btn-default-alt-hover, $btn-default-alt-border);
  }
}

.btn-primary,
.button.alt {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-hover, $btn-primary-border);
}
.btn-primary-inverse {
  @include button-variant($btn-primary-inverse-color, $btn-primary-inverse-bg, $btn-primary-inverse-hover, $btn-primary-inverse-border);
}
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-hover, $btn-success-border);
}

.btn-link {
  color: rgba($color-2, 0.4);

  &:hover {
    color: $color-2;
  }

  @if $template == football {
    color: $color-gray-3;
  }
}


// Outline buttons
// --------------------------------------------------
.btn.btn-outline {
  background-color: transparent;

  // Default
  &.btn-default {
    border-color: $btn-o-default-border;
    color: $btn-o-default-color;

    &:hover {
      background-color: $btn-o-default-bg-hover;
      border-color: $btn-o-default-border-hover;
      color: $btn-o-default-color-hover;

      &.btn-circle {
        background-color: $btn-o-default-border-hover;
      }
    }
  }

  // Primary
  &.btn-primary {
    border-color: $btn-o-primary-border;
    color: $btn-o-primary-color;

    &:hover {
      background-color: $btn-o-primary-bg-hover;
      border-color: $btn-o-primary-border-hover;
      color: $btn-o-primary-color-hover;

      &.btn-circle {
        background-color: $btn-o-primary-border-hover;
      }
    }
  }

  // Inverse
  &.btn-inverse {
    border-color: $btn-o-inverse-border;
    color: $btn-o-inverse-color;
    border-width: 2px;

    &:hover {
      background-color: $btn-o-inverse-bg-hover;
      border-color: $btn-o-inverse-border-hover;
      color: $btn-o-inverse-color-hover;

      i {
        color: $btn-o-inverse-color-hover;
      }

      &.btn-circle {
        background-color: $btn-o-inverse-border-hover;
      }
    }
  }
}



// FAB (Floating Action Button)
// --------------------------------------------------
.btn-fab {
  background-color: $color-primary-darken;
}
.btn-fab--clean {
  background-color: transparent;

  &::before,
  &::after {

    @if $template == football {
      background-color: $color-4;
    } @else {
      background-color: $color-primary;
    }
  }
}
