/* Card
/* ------------------------- */

.card {
  @include card();

  &.sticky {
    background-color: $card-bg-sticky;
  }
}
.card--clean {
  background: none;
  border: none;

  .card__header {
    background-color: $card-bg;
    border: 1px solid $card-border-color;
    border-radius: $card-border-radius;
  }
}

  .card__header {
    @include card-header();
  }

  .card__subheader {
    background: $card-subheader-bg;
    border-top: 1px solid $card-border-color;
    border-bottom: 1px solid $card-border-color;
  }

// Color
.card--alt-color {

  .card__header {

    &::before {

      @if $template == soccer {
        background-color: $color-4-darken;
      } @else {
        background-color: $color-4;
      }

    }
  }
}
