/* Circular Bars
/* ------------------------- */

.circular {

}
  .circular__bar {

  }
    .circular__percents {
      font-family: $font-family-accent;
      color: $circular-bar-label-color;

      // If label is inside circular bar
      .circular__label {
        color: $body-font-color;
      }

    }

    .circular__label {
      font-family: $font-family-accent;
    }
