/* Progress Bars
/* ------------------------- */

// Outer container
.progress {
  background-color: $progress-bg;
  border-radius: $progress-border-radius;
}

  // Bar of progress
  .progress__bar {
    color: $progress-bar-color;
    background-color: $progress-bar-bg;
    border-radius: $progress-border-radius;
  }

  .progress__label,
  .progress__number {
    font-family: $font-family-accent;
  }

  .progress__label {
    color: $progress-label-color;

    &.progress__label--color-default {
      color: $body-font-color;
    }
  }
  .progress__number {

    &.progress__number--color-highlight {
      color: $color-2;
    }
  }

.progress__bar--secondary {
  @include progress-bar-variant($progress-bar-secondary-bg);
}

.progress__bar--success {
  @include progress-bar-variant($progress-bar-success-bg);
}

.progress__bar--info {
  @include progress-bar-variant($progress-bar-info-bg);
}

.progress__bar--warning {
  @include progress-bar-variant($progress-bar-warning-bg);
}

.progress__bar--danger {
  @include progress-bar-variant($progress-bar-danger-bg);
}

.progress__bar--danger {
  @include progress-bar-variant($progress-bar-danger-bg);
}


  .progress__digit--highlight {
    color: $progress-label-color;
  }


/* Progress - */
.progress--battery {
  @include progress-bar-battery-holder($progress-bg);

  // Primary
  .progress__bar {
    @include progress-bar-battery-bar($progress-bar-bg);
  }

  // Primary
  .progress__bar--secondary {
    @include progress-bar-battery-bar($progress-bar-secondary-bg);
  }

  // Success
  .progress__bar--success {
    @include progress-bar-battery-bar($progress-bar-success-bg);
  }

  // Info
  .progress__bar--info {
    @include progress-bar-battery-bar($progress-bar-info-bg);
  }

  // Warning
  .progress__bar--warning {
    @include progress-bar-battery-bar($progress-bar-warning-bg);
  }

  // Danger
  .progress__bar--danger {
    @include progress-bar-battery-bar($progress-bar-danger-bg);
  }
}
