/* Post Author
/* ------------------------- */

.post-author {

}
  .post-author__slogan {
    font-family: $font-family-accent;
    color: $body-font-color;

    @if $template == football {
      color: $color-gray-3;
    }
  }
