/* Widget: Newsletter */
.widget-newsletter,
.widget_mc4wp_form_widget {
  
}

// .mc4wp-alert
.mc4wp-error {
  color: $color-danger;
}
.mc4wp-success {
  color: $color-success;
}
.mc4wp-notice {
  color: $color-info;
}
