/* Widget: Lists */
.widget_archive,
.widget_nav_menu,
.widget_meta,
.widget_pages,
.widget_recent_comments,
.widget_recent_entries,
.widget_categories,
.widget_rss,
.widget_product_categories {

   ul:first-child,
   .widget__title + ul,
   .megamenu-widgets-container & ul {

    > li {

      & + li {
        border-top: 1px solid $card-border-color;
      }

      > a {
        color: $headings-color;

        &:hover {
          color: $color-primary-darken;
        }
      }
    }

    ul {
      border-top: 1px solid $card-border-color;

      @if $template == football {
        background-color: $color-dark-2;
      }

      li {

        a {
          color: $body-font-color;

          &:hover {
            color: $color-2;
          }
        }
      }
    }
  }

  // Widgets in the Footer
  &.widget--footer {

    ul {

      > li {

        > a {
          color: $footer-widget-link-color;
        }
      }

      ul {

        li {

          a {
            color: $footer-widget-link-color;

            &:hover {
              color: $color-primary;
            }
          }
        }


      }
    }
  }
}

// Widget Recent Comments specifics
.widget_recent_comments {

  &.widget--footer {

    ul {

      > li {
        font-family: $font-family-base;
        font-size: $footer-font-size;
        line-height: $footer-line-height;
      }
    }
  }
}

// Widget RSS
.widget_rss {

  ul:first-child,
  .widget__title + ul {

    > li {

      .rssSummary {
        font-family: $font-family-base;
        font-size: $sidebar-content-font-size;
        line-height: $sidebar-content-line-height;
      }

      cite {
        font-family: $font-family-base;
      }
    }
  }

  &.widget--footer {

    ul {

      > li {

        > a {
          color: #fff;
        }

        .rssSummary {
          font-size: $footer-font-size;
          line-height: $footer-line-height;
        }
      }
    }
  }
}
