/* Product Tabs */

.product-tabs {

  .nav-product-tabs {

    > li > a {
      font-family: $font-family-accent;
      color: $body-font-color;
      border-bottom: 1px solid $card-border-color;

      &::before {
        background-color: $color-primary;
      }

      > small {
        color: $body-font-color;
      }

      &:hover {
        color: $color-2;

        > small {
          color: $body-font-color;
        }
      }
    }

    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border: 1px solid $card-border-color;
      color: $color-2;
    }

    @media (min-width: 768px) {

      > li + li > a {
        border-left: 1px solid $card-border-color !important;
      }
    }
  }
}

  // Tab Header
  .product-tabs__header {

    .ratings-result {
      font-family: $font-family-accent;
    }
  }

  .product-tabs__header--sm {

      .product-tabs__ratings {

        .highlight {

          @if $template == football {
            color: $color-4;
          } @else {
            color: $color-primary;
          }
        }
      }
  }
