/*
// #Album
// --------------------------------------------------
*/
    .album__item-holder {

      @if $template == football {
        background-color: $color-dark-2;
        border-radius: $card-border-radius;
      } @else {
        background-color: #171d21;
      }
    }

    // Overlay with Primary Color
    .album__item-holder--color--primary {
      background-color: $color-primary;

      .album__item-date {
        color: #fff;
      }
    }

  .album__item-icon {
    color: $color-primary;
  }
    .album__item-title {
      color: #fff;
    }
    .album__item-date {
      font-family: $font-family-accent;
      color: $body-font-color;
    }
    .album__item-meta {

      .meta__item {
        color: #fff;

        > a {
          color: #fff;
        }
      }
    }
