/*
// #Info Block
// --------------------------------------------------
*/

.info-block {
  list-style: none;
  padding: 0;
  margin: 0;
}
  .info-block__item {
    position: relative;
    min-height: 26px;
    padding: 2px 0 0 40px;
    margin-bottom: 34px;
    list-style: none;
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }

    .df-icon,
    .df-icon-stack,
    .df-icon-custom {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
		}

		.df-icon-custom {

			img {
				width: 28px;
				height: auto;
			}
		}

    // Inside Header Primary
    .header__primary & {
      text-align: left;
      margin: 20px 0;
      padding: 2px 30px 16px 70px;

      &.info-block__item--contact-primary {
        margin-top: 36px;
      }

      &.info-block__item--contact-secondary {
        margin-bottom: 0;
      }

      .df-icon,
      .df-icon-custom {
        left: 30px;
      }

      .df-icon-custom {

        i {
          color: $header-info-block-color;
          font-size: 24px;
        }

        img {
          width: 28px;
          height: auto;
        }
      }


      .info-block__link {
        padding: 0;
        font-size: 9px;
        line-height: 1.2em;
        color: $header-info-block-link-color-mobile;
        border: none;

        // Hide left border on hover
        &::before {
          display: none;
        }

        &:hover {
          color: $header-info-block-link-color-mobile-hover;
        }
      }

      @media (min-width: 992px) {
        display: none;
      }
    }
  }
  .info-block__item--nopadding {
    padding-left: 0;
  }

  @if $template == football {
    .info-block__item--helmet {
      padding-left: 50px;
    }
    .info-block__item--contact-primary {
      padding-left: 50px;
    }
    .info-block__item--contact-secondary {
      padding-left: 45px;
    }
  }

    .info-block__heading {
      font-size: 9px;
      line-height: 1.2em;
      margin-bottom: 5px;
      text-transform: uppercase;

      @if $template == football {
        font-size: 10px;
      }

      .footer & {
        color: #fff;
      }

      .header & {
        color: $header-info-block-title-color;
      }
    }

    .info-block__link {
      display: block;
      text-transform: uppercase;
      font-family: $font-family-accent;
      font-size: 9px;
      line-height: 1.2em;
      color: $info-block-link-color;
      vertical-align: top;
      transition: color 0.25s cubic-bezier(0.3, 0.1, 0.55, 1);

      @if $template == football {
        font-size: 10px;
      }

      .footer &:hover {
        color: #fff;
      }

      .header & {
        color: $header-info-block-link-color;

        &:hover {
          color: $header-info-block-link-color-hover;
        }
      }
    }
    .info-block__link-wrapper {
      display: block;
    }

// Info Block inside Header
.info-block--header {
  display: inline-block;
  vertical-align: middle;

  .info-block__item {
    display: inline-block;
    margin: 7px 0 0 26px;

    .df-icon {
      stroke: $header-info-block-color;
    }

    .df-icon-custom {
      i {
        color: $header-info-block-color;
      }
    }

    @media (min-width: 992px) {
      padding-top: 20px;
      padding-bottom: 32px;

      .df-icon,
      .df-icon-custom {
        top: 24px;
      }

      .df-icon-custom {
        i {
          font-size: 24px;
        }

        img {
          width: 28px;
          height: auto;
        }

        .df-icon {
          top: 0;
        }
      }

      .df-icon-stack--bag {
        top: 3px;

        .df-icon--bag-handle {
          top: 19px;
        }
      }

      .info-block__heading {
        margin-top: 5px;
      }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      margin-left: 20px;
    }

    &.has-children {

      > .info-block__link-wrapper {
        padding-right: 16px;

        &::after {
          content:"";
          position: absolute;
          right: 0;
          top: 29px;
          width: 6px;
          height: 4px;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'%3E%3Cpath transform='translate(-586.156 -1047.28)' fill='%23fff' d='M586.171,1048l0.708-.71,2.828,2.83-0.707.71Zm4.95-.71,0.707,0.71L589,1050.83l-0.707-.71Z'/%3E%3C/svg%3E");
          background-size: 6px 4px;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
  }

  .info-block__item--shopping-cart {

    .info-block__heading {
      margin-bottom: 3px;
    }
  }
    .info-block__cart-sum {
      font-size: 11px;
      text-transform: uppercase;
      font-family: $font-family-accent;
      line-height: 1.2em;
      display: block;
      color: $header-info-block-cart-sum-color;
    }


}

// Info Block inside Footer Widget

.footer-widgets {

  .info-block__item {

    .df-icon {
      stroke: $footer-contact-info-icon-color;
    }
  }
}

// Info Block Horizontal
.info-block--horizontal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: 992px) {
    flex-wrap: nowrap;
    width: auto;
  }

  .info-block__item {
    width: 100%;
    padding-left: 50px;

    @media (min-width: 768px) {
      width: 33.3%;
    }

    @media (min-width: 992px) {
      width: auto;
      margin: 0 20px;
    }

    @media (min-width: 1200px) {
      margin: 0 43px;
    }

    &:last-child {

      @media (max-width: 991px) {
        margin-bottom: 34px;
      }
    }
  }

  .info-block__item--social {
    padding-left: 0;
  }
}
