/*
// #Info Block
// --------------------------------------------------
*/

.info-block {

}
  .info-block__item {

    // Inside Header Primary
    .header__primary & {

      .df-icon-custom {
        i {
          color: $header-info-block-color;
        }
      }

      .info-block__link {
        color: $header-info-block-link-color-mobile;

        &:hover {
          color: $header-info-block-link-color-mobile-hover;
        }
      }
    }
  }

    .info-block__heading {

      .footer & {
        color: #fff;
      }

      .header & {
        color: $header-info-block-title-color;
      }
    }

    .info-block__link {
      font-family: $font-family-accent;
      color: $info-block-link-color;

      .header & {
        color: $header-info-block-link-color;

        &:hover {
          color: $header-info-block-link-color-hover;
        }
      }

      .footer &:hover {
        color: #fff;
      }
    }

// Info Block inside Header
.info-block--header {

  .info-block__item {

    .df-icon {
      stroke: $header-info-block-color;
    }
    .df-icon-custom {

      i {
        color: $header-info-block-color;
      }
    }
  }
    .info-block__cart-sum {
      font-family: $font-family-accent;
      color: $header-info-block-cart-sum-color;
    }


}

// Info Block inside Footer Widget

.footer-widgets {

  .info-block__item {

    .df-icon {
      stroke: $footer-contact-info-icon-color;
    }
  }
}
