/* Main News Banner
/* ------------------------- */
.main-news-banner {
  background-color: #27313b;

  .posts__title {

    > a {
      color: #fff;
    }
  }
    .main-news-banner__highlight {

      @if $template == soccer {
        color: $color-4-darken;
      } @else {
        color: $color-primary;
      }
    }
}


/* With Image at the Left */
.main-news-banner--img-left {

  .main-news-banner__img {

    &::before {
      background-color: $color-primary;
    }
  }
}


@if $template == football {

  .main-news-banner {
    background-color: $card-bg;
    border: 1px solid $card-border-color;
  }
}
