/**
 * Woo Widgets: Products, Recently Viewed, Top Rated Products, Shopping Cart
 */

  // li item
  .products-list__item {

    & + & {
      border-top: 1px solid $card-border-color;
    }
  }

      // categories
      .products-list__product-cat {
        font-family: $font-family-accent;

        > a {
          color: $body-font-color;

          &:hover {
            color: $link-color-hover;
          }
        }
      }

      // title
      .products-list__product-title {
        font-family: $font-family-accent;

        > a {
          color: $headings-color;

          &:hover {
            color: $color-primary-darken;
          }
        }
      }
      .products-list__product-amount {
        font-family: $font-family-accent;
        color: $headings-color;
      }
