/**
 * Woo Widget: Price filter widget
 */
.widget_price_filter {


  .ui-slider .ui-slider-handle {
    border: 4px solid $shop-price-filter-handle-color;

    @if $template == football {
  		box-shadow: inset 0 0 0 4px $shop-price-filter-handle-color;

  		&::before {
  			border-top: 6px solid $shop-price-filter-handle-color;
  		}
  	}
  }

  .ui-slider .ui-slider-range {
    background-color: $shop-price-filter-bar-color;
  }

  .price_slider_wrapper .ui-widget-content {
    background-color: #dbdfe6;
  }

  .price_label {
    font-family: $font-family-accent;
  	color: $headings-color;
  }
}
