/**
 * Woo Widget: Layered Nav
 */

.widget_layered_nav {

  ul {
    font-family: $font-family-accent;

    li {

      a {
        color: $headings-color;

        &:hover {
          color: $color-primary-darken;
        }

        &::before {
          background-color: $checkbox-bg;
          border: 1px solid $checkbox-border;
        }
      }

      // Chosen
      &.chosen {

        a {

          &::before {
            background-color: $checkbox-bg-active;
            border-color: $checkbox-border-active;
          }
        }
      }
    }
  }
}
