/**
 * Woo Widget: Price filter widget
 */
.widget_price_filter {

  .price_slider {
    margin-bottom: 26px;
  }

  .price_slider_amount {
    text-align: right;

    .button {
      @include button-size(5px, 13px, $btn-border-font-size-xs, 1.5em, $btn-border-radius-xs);
    }

    .button {
      float: left;
    }
  }

  .ui-slider {
    position: relative;
    text-align: left;
    margin-left: 6px;
    margin-right: 6px;
  }

  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 12px;
    height: 12px;
    cursor: ew-resize;
    outline: none;
    top: -4px;
    /* rtl:ignore */
    margin-left: -4px;
    border: 4px solid $shop-price-filter-handle-color;
    border-radius: 50%;
  	background-color: #fff;

    @if $template == football {
  		border-radius: 2px 2px 0 0;
  		border: none;
  		box-shadow: inset 0 0 0 4px $shop-price-filter-handle-color;
  		position: relative;
  		padding-top: 2px;

  		&::before {
  			content: "";
  			position: absolute;
  			left: 0;
  			bottom: -4px;
  			width: 0;
  			height: 0;
  			border-top: 6px solid $shop-price-filter-handle-color;
  			border-left: 6px solid transparent;
  			border-right: 6px solid transparent;
  		}
  	}
  }

  .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    border-radius: 1em;
    background-color: $shop-price-filter-bar-color;
  }

  .price_slider_wrapper .ui-widget-content {
    border-radius: 2px;
    background-color: #dbdfe6;
    border: 0;
  }

  .ui-slider-horizontal {
    height: 4px;
  }

  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }

  .ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
  }

  .ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
  }

  .price_label {
    @include font-accent(10px);
  	color: $headings-color;
  	line-height: 2.5em;
  }
}
