/**
 * Woo Widgets: Shopping Cart
 */

.widget_shopping_cart,
.widget_shopping_cart_content {

  // Products list
  .cart_list {

    li {

      &.empty {
        font-size: $sidebar-content-font-size;
        line-height: $sidebar-content-line-height;
      }
    }
  }

  // Total
  .total {
    border-top: 1px solid $card-border-color;
    color: $headings-color;
    font-family: $font-family-accent;
  }

  // Actions buttons
  .buttons {
    border-top: 1px solid $card-border-color;
  }
}
