/* Sportspress Widgets */

// League Table, Event List, Player List, Event Blocks
.card.widget_league_table,
.card.widget_sp_event_list,
.card.widget_player_list,
.card.widget_sp_event_blocks,
.card.widget-results,
.card.widget-game-result,
.card.widget-player-featured {
  border: none;
  border-radius: 0;
  background-color: transparent;
  margin-bottom: 0 !important;

  > .card__content {
    padding: 0;
  }

  // Hide widget title (Heading displayed instead)
  .widget__title {
    display: none;
  }
}

// League Table
.widget_league_table {

  .sp-template-league-table {
    margin-bottom: 0;
  }
}


// Player Gallery
.widget_player_gallery {

  .team-roster--grid {

    .btn-fab {
      display: none;
    }

    &.team-roster--grid-col-2 {

      .team-roster__content {
        padding: ($card-vertical-padding/2) ($card-horizontal-padding/2);

        @media (min-width: 375px) and (max-width: 479px) {
          padding: ($card-vertical-padding/2) ($card-horizontal-padding/2);
        }
      }

      // Player Number
      .team-roster__member-number {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 18px;

        @media (min-width: 768px) {
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-size: 24px;
        }

        @media (min-width: 992px) {
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-size: 18px;
        }

        @media (min-width: 1200px) {
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-size: 24px;
        }

        @media (min-width: 375px) and (max-width: 479px) {
          width: 40px;
          height: 40px;
          line-height: 40px;
          font-size: 24px;
        }
      }

      // Player Name
      .team-roster__member-name {
        line-height: 1em;
        font-size: 12px;

        @media (min-width: 768px) {
          font-size: 14px;
        }

        @media (min-width: 992px) {
          font-size: 12px;
        }

        @media (min-width: 1200px) {
          font-size: 14px;
          line-height: 1em;
        }

        @media (min-width: 375px) and (max-width: 479px) {
          font-size: 14px;
        }
      }

      // Player Position
      .team-roster__member-position {
        line-height: 1em;
        font-size: 8px;

        @media (min-width: 1200px) {
          font-size: 8px;
        }

        @media (min-width: 375px) and (max-width: 479px) {
          font-size: 8px;
        }
      }
    }
  }
}


// Birthdays
.widget_birthdays {

  .card__content {
    padding: 0;
  }
}
  .alc-birthdays {
    margin-bottom: 0;

    thead > tr > th,
    tbody > tr > td {
      vertical-align: middle;
    }

    tbody > tr:first-child > td {
      border-top: 0 !important;
    }

    th {
      text-transform: uppercase;
    }

    .alc-birthdays__item,
    .alc-birthdays__item-container {
      padding-left: 15px;
      vertical-align: middle;

      @media (min-width: 1200px) {
        padding-left: $card-horizontal-padding;
      }
    }

    .alc-birthdays__item--name {

      @if $template == football {
        border-left: 6px solid $color-primary;
        padding-left: 9px;

        @media (min-width: 1200px) {
          padding-left: $card-horizontal-padding - 6;
        }
      }
    }
    .alc-birthdays__item--date {
      text-align: right;

      @media (min-width: 1200px) {
        padding-right: $card-horizontal-padding;
      }
    }
      .alc-birthdays__item-container {

      }

      .alc-birthdays__item-info {

        @if $template == football {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
        .alc-birthdays__item-img {
          display: inline-block;
          vertical-align: middle;
          overflow: hidden;
          margin-right: 10px;

          @if $template == football {
            width: 30px;
            height: 30px;
            border-radius: 4px;
          } @else {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
        .alc-birthdays__item-img--sm {
          width: 30px;
          height: 30px;
        }
        .alc-birthdays__item-inner {
          display: inline-block;
          vertical-align: middle;
        }
          .alc-birthdays__item-name {
            text-transform: none;
            font-size: 12px;
            line-height: 1.2em;
            font-weight: 400;
            margin-bottom: 0;
            font-style: normal;

            > a {
              color: $headings-color;
            }
          }
          .alc-birthdays__item-position {
            display: block;
            font-family: $font-family-accent;
            font-size: 9px;
            line-height: 1.2em;
          }
  }


// Staff
.widget_staff {

  .sp-table-caption {
    font-size: $font-size-h5;
    font-style: $font-style-h5;
    text-transform: $text-transform-h5;
  }

  .widget__content {
    overflow: hidden;
  }

  .sp-staff-details {
    margin-bottom: 0;

    dt {
      @include font-accent(12px);
      color: $headings-color;
    }

    dd {
      margin-bottom: .75em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sp-staff-photo {
    margin-bottom: 0;
  }
}


// Calendar
.widget_sp_event_calendar {

  .sp-template-event-calendar {
    border: none;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 0 !important;
  }
}


// Countdown
.widget_countdown {

  .card {
    border: none;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 0 !important;

    > .card__content {
      padding: 0;
    }
  }
}
