/* Sportspress Widgets */

// Birthdays
.widget_birthdays {

}
  .alc-birthdays {

    .alc-birthdays__item--name {

      @if $template == football {
        border-left: 6px solid $color-primary;
      }
    }
      .alc-birthdays__item-name {

        > a {
          color: $headings-color;
        }
      }
      .alc-birthdays__item-position {
        font-family: $font-family-accent;
      }
  }

// Staff
.widget_staff {

  .sp-staff-details {

    dt {
      font-family: $font-family-accent;
      color: $headings-color;
    }
  }
}
