/* Player League Stats */
.player-league {

  thead > tr > th,
  tbody > tr > td {
    vertical-align: middle;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;

    &.player-league__vs {
      text-align: left;
    }
  }

  .data-name {
    text-align: left;

    @media (min-width: 1200px) {
      padding-left: 23px;
    }
  }
  .data-team {
    text-align: left;
    color: $headings-color;
  }

  thead > tr > th:last-child,
  tbody > tr > td:last-child {

    @media (min-width: 1200px) {
      padding-right: 23px;
    }
  }

  .player-league__game {
    color: $headings-color;
  }

  .sp-highlight {
    color: $headings-color;
  }
}
