/* Player League Stats */
.player-league {

  .data-team {
    color: $headings-color;
  }

  .player-league__game {
    color: $headings-color;
  }

  .sp-highlight {
    color: $headings-color;
  }
}
