/* Widget: Commentary */
.widget-commentary {
}
    .commentary__item {
      font-family: $font-family-accent;

      & + & {
        border-top: 1px solid $card-border-color;
      }

      > strong {
        color: $color-2;
      }
    }
      // Time
      .commentry__time {
        color: $color-2;
      }
