/* Widget: Newslog */
.widget-newslog {

}
  .newslog {

  }
    .newslog__item {
      border-bottom: 1px solid $card-border-color;
      font-family: $font-family-accent;

      strong {
        color: $headings-color;
      }
    }

    @if $template == football {

      // Categories
      .newslog__item--injury {

        .newslog__item-inner::before {
          color: $color-info;
        }
      }
      .newslog__item--join {

        .newslog__item-inner::before {
          color: $color-4;
        }
      }
      .newslog__item--exit {

        .newslog__item-inner::before {
          color: $color-danger;
        }
      }

      .newslog__item--award {

        .newslog__item-inner::before {
          color: #ffd71b;
        }
      }

    } @elseif $template == soccer {

      // Categories
      .newslog__item--injury {

        .newslog__item-inner::before {
          background-color: #ff5353;
          border: 1px solid #e54444;
        }
      }

    } @else {

    }

      .newslog__date {
        color: rgba($body-font-color, 0.4);
      }
