/* Widget: Team Stats */
.widget-team-stats {


}
  .team-stats-box {
    border-color: $card-border-color;
  }
    .team-stats__item {
      border-color: $card-border-color;
    }
    .team-stats__item--clean {

    }
      .team-stats__icon {

      }
      .team-stats__icon--circle {
        background-color: $color-primary;
      }
      .team-stats__icon--shots-ot {
        background-color: #a4ec32;
      }
      .team-stats__icon--shots {
        background-color: #f5d109;
      }
      .team-stats__icon--assists {
        background-color: #3adfc2;

        .team-stats__icon-secondary {
          background-color: $color-2;
          font-family: $font-family-accent;
          color: #fff;
        }
      }


      .team-stats__value {
        font-family: $font-family-accent;
        color: $headings-color;
      }
      .team-stats__label {
        font-family: $font-family-accent;
      }
        .team-stats__circular--minus {
          color: $color-danger;

          .circular__percents {
            color: $color-danger;
          }
        }

        .team-stats__circular--plus {
          color: $color-success;

          .circular__percents {
            color: $color-success;
          }
        }
