/* Widget: Team Leaders */
.widget-leaders {


}
  .team-leader {
    border-top: 1px solid $card-border-color;

    @if $template == football {
      .team-leader__type {
        border-left: 6px solid $color-primary;
      }
    }
  }

    @if $template == football {

      .team-leader__total {
        color: $headings-color;
      }
    }
          .team-leader__player-name {

            > a {
              color: $headings-color;
            }
          }
          .team-leader__player-position {
            font-family: $font-family-accent;
          }


  // Clean Tabs
  .nav-tabs--clean {

    > li {

      > a {
        font-family: $font-family-accent;
        color: rgba($color-2, .4);

        @if $template == football {
          color: $color-gray-3;
        }

        &:hover {
          color: $color-2;

          @if $template == football {
            color: #fff;
          }
        }
      }

      &.active {

        > a {
          color: $color-2;

          @if $template == football {
            color: #fff;
          }

          &:hover {

            @if $template == football {
              color: #fff;
            }
          }
        }
      }
    }
  }
