/* Preloader */
.preloader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $preloader-bg;
	z-index: 999999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader {
	position: fixed;
  left: 50%;
  top: 50%;
	margin-left: -$preloader-size/2;
	margin-top: -$preloader-size/2;
	-webkit-backface-visibility: hidden;

	border-radius: 50%;
  width: $preloader-size;
  height: $preloader-size;
  border: 4px solid $preloader-color-secondary;
  border-top-color: $preloader-color;
  animation: spin $preloader-spin-duration infinite linear;
}
