body {
  background-color: $body-bg-color;
  color: $body-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $font-family-base;
  font-weight: $body-font-weight;
}

/* Font Size on Mobile devices */
@media (max-width: 479px) {
  body {
    font-size: $font-size-mobile;
    line-height: $line-height-mobile;
  }
}
