/*
// #Header
// --------------------------------------------------
*/

.header {
  background-color: $header-bg;
}

/* Header Top Bar */
.header__top-bar {
  background-color: $header-top-bg;
}
  .nav-account {

    // styles for desktops only
    @media (min-width: 992px) {

      .nav-account__item {
        font-family: $font-family-accent;

        &::before {
          color: $top-bar-divider-color;
        }

        > a {
          color: #fff;

          &:hover {
            color: $top-bar-highlight;
          }

          .highlight {
            color: $top-bar-highlight;
          }
        }

        &.has-children {

          &::after {

          }

          ul {
            border: 1px solid $top-bar-dropdown-border;
            box-shadow: $top-bar-dropdown-shadow;
            background-color: $top-bar-dropdown-bg;

            li {

              a {
                color: $top-bar-dropdown-link-color;

                &:hover {
                  color: $top-bar-dropdown-link-color-hover;
                }
              }
            }
          }
        }
      }
        .nav-account__item--logout {

          > a {
            color: $top-bar-text-color;
          }
        }
    }
  }

/* Header Secondary */
.header__secondary {
  background-color: $header-secondary-bg;
}

/* Header Primary */
.header__primary {
  background-color: $header-secondary-bg;

  &::after {
    background-color: $header-primary-bg;

    @if $template == football {
      width: 100%;
    } @else {
      width: 50%;
    }
  }
}
  .header__primary-inner {
    background-color: $header-primary-bg;

    @media (min-width: 992px) {
      min-height: $nav-height;
    }

    @if $template != football {

      &::before {
        background-color: $header-secondary-bg;
      }

    }
  }

/* Header Mobile */
.header-mobile {
  background-color: $header-mobile-bg;
}

/* Header Mobile Search */
.header-search-form {
  background-color: $header-mobile-bg;

  @media (min-width: 992px) {
    background-color: $header-secondary-bg;
  }
}
  /* Search Input */
  input.header-mobile__search-control {
    background-color: $header-search-input-bg-mobile;
    border-color: $header-search-input-border-mobile;

    @media (min-width: 992px) {
      background-color: $header-search-input-bg;
      border-color: $header-search-input-border;
    }

    &:focus {
      color: #fff;
      background-color: $header-search-input-bg-focus-mobile;
      border-color: $header-search-input-border-focus-mobile;

      @media (min-width: 992px) {
        background-color: $header-search-input-bg-focus;
        border-color: $header-search-input-border-focus;
      }
    }
  }

  /* Submit Button */
  .header-mobile__search-submit {
    color: $header-search-icon;

    &:hover {
      background-color: rgba(255,255,255,.1);
    }
  }

@media only screen and (max-width: 991px) {

    .header-mobile__inner {
      height: $header-mobile-height;
      background-color: $header-mobile-bg;
    }
      .header-mobile__logo-img {
        width: $header-mobile-logo-width;
      }

      .burger-menu-icon__line {

        &,
        &::before,
        &::after {
        	background-color: #fff;
        }
      }

  /* Mobile Search Icon */
  .header-mobile__search-icon {
    color: #fff;
  }
}
