/*
// #Hero Slider
// --------------------------------------------------
*/

.hero-slider {
  background-color: #27313b;
}
  .hero-slider__item-container {

    .page-heading__title {

      .highlight {
        color: $color-4;
      }
    }
  }



// Hero Slider - Thumbs
.hero-slider-thumbs {

  .posts__title {
    color: #fff;
  }
}
