/*
// #Hero Unit
// --------------------------------------------------
*/

.hero-unit {
  background-color: #27313b;
}
  // Title
  .hero-unit__title {
    color: #fff;
  }

  // Subtitle
  .hero-unit__subtitle {
    color: #fff;
  }

  // Decoration (stars)
  .hero-unit__decor {
    color: #ffdc11;
  }
