/*
// #Page Heading
// --------------------------------------------------
*/
.page-heading--no-bg {

}
  .page-heading__title {
    color: #fff;
    font-style: $page-heading-font-style;

    @media (min-width: 992px) {
      font-size: $page-heading-font-size;
    }

    .highlight {
      color: $page-heading-font-highlight;
    }
  }
