/* Staff */
.alc-staff-inner {

}
  .alc-staff__header-last-name {
    color: $color-primary;
  }
.alc-staff__header-role {
  font-family: $font-family-accent;
}

// Staff Details
.alc-staff-details {
  font-family: $font-family-accent;
}
  .alc-staff-details__value {
    color: $headings-color;
  }
